* * * * * /usr/local/bin/python /cronjobs/biosample_import.py > /proc/1/fd/1 2>/proc/1/fd/2
* * * * * /usr/local/bin/python /cronjobs/experiment_import.py > /proc/1/fd/1 2>/proc/1/fd/2
* * * * * /usr/local/bin/python /cronjobs/assembly_import.py > /proc/1/fd/1 2>/proc/1/fd/2
