[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "==19.9.0"
flask-mongoengine = "==1.0.0"
Flask = "==1.1.2"
Flask-RESTful = "==0.3.8"
Flask-Cors = "==3.0.10"
uwsgi = "*"
flask-apscheduler = "*"
lxml = "*"
requests = "*"
openpyxl = "*"
flask-httpauth = "*"
flask-jwt-extended = "*"
blinker = "*"
tzlocal = "<3.0"
treelib = "*"

[dev-packages]

[requires]
python_version = "3.9"
